<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new blog</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Post a blog!</h1>
    <form action="/blogs" method=post>
        <fieldset aria-labelledby="new-blog-legend">
            <legend id="new-blog-legend">New Blog</legend>
            <div>
                <label for="userName">Username: </label>
                <input type="text" name="userName">
            </div>
            <div>
                <label for="postTitle">Title: </label>
                <input type="text" name="postTitle">
            </div>
            <div>
                <label for="category">Category: </label>
                <select name="category">
                    <option value="none"> - selecte type - </option>
                    <option value="Food">Food</option>
                    <option value="Travel">Travel</option>
                    <option value="Lifestyle">Lifestyle</option>
                    <option value="Technology">Technology</option>
                    <option value="Finance">Finance</option>
                    <option value="DIY">DIY</option>
                    <option value="Business">Business</option>
                    <option value="Education">Education</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div>
                <label for="message">Message: </label>
                <textarea name="message"></textarea>
            </div>
            <div>
                <label for="yesNoBoxes">Would you like to add images?</label>
                <div name="yesNoBoxes">
                    <label for="imgYes">Yes</label>
                    <input type="radio" name="imgYes" id="imgYes">
                    <label for="imgNo">No</label>
                    <input type="radio" name="imgNo" id="imgNo">
                </div>
            </div>
                <button type="submit">Post Blog</button>
        </fieldset>

    </form>
</body>
</html>